<a href="https://colab.research.google.com/github/natasharavinand/Amity/blob/main/sentiment_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loading in Data**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import time

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
indicator_tweets = pd.read_csv('/content/drive/MyDrive/makeathon_stuff/suicide_tweets_df.csv')

full_sentiment = pd.read_csv('/content/drive/MyDrive/makeathon_stuff/sentiment_full.csv', encoding="ISO-8859-1", names=["0", "1", "2", "3", "4", "5"])

In [ ]:
full_sentiment

         0  ...                                                  5
0        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        0  ...  is upset that he can't update his Facebook by ...
2        0  ...  @Kenichan I dived many times for the ball. Man...
3        0  ...    my whole body feels itchy and like its on fire
4        0  ...  @nationwideclass no, it's not behaving at all....
...     ..  ...                                                ...
1599995  4  ...  Just woke up. Having no school is the best fee...
1599996  4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599997  4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599998  4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599999  4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]

In [ ]:
reduced_sentiment = full_sentiment.iloc[::20, :]
reduced_sentiment

         0  ...                                                  5
0        0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
20       0  ...  @alydesigns i was out most of the day so didn'...
40       0  ...  really don't feel like getting up today... but...
60       0  ...  @BatManYNG I miss my ps3, it's out of commissi...
80       0  ...  sleep soon... i just hate saying bye and see y...
...     ..  ...                                                ...
1599900  4  ...  @cris1015 My goal on stocks like $MTXX is to h...
1599920  4  ...  Largest/fastest hotspot in U.S.A. is located i...
1599940  4  ...  @MsKCJones Yeah it's very irritating, right? B...
1599960  4  ...     @pokapolas love the donut and the toadstool.
1599980  4  ...  @myheartandmind jo jen by nemuselo zrovna tÃ© ...

[80000 rows x 6 columns]

In [ ]:
print(indicator_tweets.dtypes)
indicator_tweets.head(4)

created_at         object
text               object
user_name          object
screen_name        object
location           object
friends_count       int64
followers_count     int64
is_quote_status      bool
retweet_count       int64
favorite_count      int64
retweeted            bool
favorited            bool
verified             bool
protected            bool
lang               object
dtype: object

            created_at  ... lang
0  2021-03-12 04:57:25  ...   en
1  2021-03-12 04:57:24  ...   en
2  2021-03-12 04:57:08  ...   en
3  2021-03-12 04:56:59  ...   en

[4 rows x 15 columns]

In [ ]:
reduced_sentiment.head()

    0  ...                                                  5
0   0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
20  0  ...  @alydesigns i was out most of the day so didn'...
40  0  ...  really don't feel like getting up today... but...
60  0  ...  @BatManYNG I miss my ps3, it's out of commissi...
80  0  ...  sleep soon... i just hate saying bye and see y...

[5 rows x 6 columns]

# **Cleaning/Adding Various Column**

In [ ]:
reduced_sentiment[reduced_sentiment['3'] != 'NO_QUERY']
reduced_sentiment = reduced_sentiment.drop(columns = ['3'])
reduced_sentiment = reduced_sentiment.rename(columns={'0': 'polarity', '1': 'user_id', '2': 'created_at', '4': 'user_name', '5': 'tweet'})
reduced_sentiment.head()

    polarity  ...                                              tweet
0          0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
20         0  ...  @alydesigns i was out most of the day so didn'...
40         0  ...  really don't feel like getting up today... but...
60         0  ...  @BatManYNG I miss my ps3, it's out of commissi...
80         0  ...  sleep soon... i just hate saying bye and see y...

[5 rows x 5 columns]

In [ ]:
import re 

regex_link= '(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?'

# reduced_sentiment['link'] = 
# reduced_sentiment['tweet'].iloc[.str.extract(regex_link, expand=False)
# r1 = reduced_sentiment['tweet'].iloc[0]
# re.search(regex_link,r1).group()

def extract_regex(regex,tweet):
  if re.search(regex,tweet) is not None:
    return re.search(regex,tweet).group() 
  else:
    return np.nan

reduced_sentiment['link'] = reduced_sentiment['tweet'].apply(lambda x: extract_regex(regex_link, x))

In [ ]:
reduced_sentiment_1 = reduced_sentiment.copy()
reduced_sentiment_1['tweet'] = reduced_sentiment_1['tweet'].str.replace(regex_link, '')
reduced_sentiment_1

         polarity  ...                      link
0               0  ...  http://twitpic.com/2y1zl
20              0  ...                       NaN
40              0  ...                       NaN
60              0  ...                       NaN
80              0  ...                       NaN
...           ...  ...                       ...
1599900         4  ...                       NaN
1599920         4  ...       http://bit.ly/eDjz7
1599940         4  ...                       NaN
1599960         4  ...                       NaN
1599980         4  ...                       NaN

[80000 rows x 6 columns]

In [ ]:
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
months = ['Apr','May','Jun']
days_regex = "(" + ")|(".join(days) + ")"
months_regex = "(" + ")|(".join(months) + ")"

re.search(days_regex,reduced_sentiment_1['created_at'].iloc[0]).group

reduced_sentiment_1['weekday'] = reduced_sentiment_1['created_at'].apply(lambda x: extract_regex(days_regex, x))
reduced_sentiment_1['month'] = reduced_sentiment_1['created_at'].apply(lambda x: extract_regex(months_regex, x))

In [ ]:
reduced_sentiment_2 = reduced_sentiment_1.copy()
reduced_sentiment_2['created_at'] = reduced_sentiment_2['created_at'].str.replace(days_regex, '')
reduced_sentiment_2['created_at'] = reduced_sentiment_2['created_at'].str.replace(months_regex, '')
reduced_sentiment_2['created_at'] = reduced_sentiment_2['created_at'].str.replace('PDT', '')
reduced_sentiment_2['created_at'] = reduced_sentiment_2['created_at'].str.replace('2009', '')
reduced_sentiment_2['created_at'] = reduced_sentiment_2['created_at'].str.replace('2009', '')

reduced_sentiment_2['day'] = reduced_sentiment_2['created_at'].str[2:4]
reduced_sentiment_2['created_at'] = reduced_sentiment_2['created_at'].str[4:]
reduced_sentiment_2['created_at'] = reduced_sentiment_2['created_at'].str.strip()
reduced_sentiment_2

         polarity     user_id created_at  ... weekday month day
0               0  1467810369   22:19:45  ...     Mon   Apr  06
20              0  1467813985   22:20:37  ...     Mon   Apr  06
40              0  1467818020   22:21:39  ...     Mon   Apr  06
60              0  1467822687   22:22:52  ...     Mon   Apr  06
80              0  1467834053   22:25:52  ...     Mon   Apr  06
...           ...         ...        ...  ...     ...   ...  ..
1599900         4  2193574897   08:38:37  ...     Tue   Jun  16
1599920         4  2193575839   08:38:42  ...     Tue   Jun  16
1599940         4  2193576797   08:38:47  ...     Tue   Jun  16
1599960         4  2193577726   08:38:52  ...     Tue   Jun  16
1599980         4  2193578679   08:38:56  ...     Tue   Jun  16

[80000 rows x 9 columns]

In [ ]:
reduced_sentiment_2['created_at'].datetime.strftime(%H%M%S)

SyntaxError: ignored